#main_cols {
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

#main_cols .left_col {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#house_filters {
  width: 120px;
  height: 120px;
  justify-content: space-between;
  align-items: space-between;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

#house_filters div {
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

#house_filters .unselected {
  filter: grayscale(100%);
}

#house_filters #gryffindor {
  background-image: url("images/gryffindor.png");
}

#house_filters #slytherin {
  background-image: url("images/slytherin.png");
}

#house_filters #ravenclaw {
  background-image: url("images/ravenclaw.png");
}

#house_filters #hufflepuff {
  background-image: url("images/hufflepuff.png");
}

#search {
  margin-bottom: 1.5rem;
}

#expelled_filter {
  cursor: pointer;
}

.prefect.selected {
  color: gold;
}

.inq_squad.selected {
  color: red;
}

.strong {
  font-weight: bold;
}

#counts {
  margin-top: 2rem;
  line-height: 1.8;
}

#counts div {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

#main_cols .middle_col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hack_the_system {
  color: white;
  cursor: pointer;
}

.hack_the_system:hover {
  color: black;
}

#warning {
  position: fixed;
  height: 20px;
  width: 500px;
  top: calc((100vh - 20px) / 2);
  left: calc((100vw - 500px) / 2);
  color: white;
  background: red;
  padding: 15px;
  text-align: center;
}

#headers_wrapper {
  background-color: red;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

#headers {
  display: flex;
  align-items: center;
  width: 50%;
  height: 3rem;
  font-weight: 600;
}

#headers div {
  text-align: center;
}

#headers div {
  width: 25%;
  cursor: pointer;
}

#students {
  width: 100%;
}

.student {
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-bottom: 3vw;
  z-index: 1;
  width: 100%;
}

.student_info {
  display: flex;
  width: 75%;
  justify-content: space-between;
}

.student_info div {
  text-align: center;
  width: 33%;
}

.student_actions {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 25%;
}

.student_actions div:not(:first-child) {
  margin-left: 10px;
}

#popup_relative {
  position: relative;
}

#close_popup_button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  cursor: pointer;
}

#popup {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(50%, 1fr));
  position: fixed;
  left: 30vw;
  top: calc((100vh - 30vw) / 2);
  width: 40vw;
  height: 30vw;
  z-index: 3;
  color: white;
  border-radius: 5px;
}
#popup .top_row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
}
#popup .top_row .left_col {
  display: flex;
  justify-content: center;
  align-items: center;
}
#popup .bottom_row {
  display: flex;
  justify-content: center;
}
#popup .info_box_wrapper {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 10px;
  line-height: 1.8;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 8rem;
}
#popup .info_box {
  width: 70%;
}
#popup .info {
  display: flex;
  justify-content: center;
}
.hidden {
  visibility: hidden;
}
.show {
  visibility: visible;
}

body {
  margin: auto 0;
}
